docker
huggingface
jupyterlab
matplotlib
numpy
pandas
portalocker
pyarrow
pyspark>=3.4.0
sentencepiece
sentence_transformers
scikit-learn
tensorflow[and-cuda]
pydot
transformers
datasets
evaluate
accelerate
tritonclient
--extra-index-url https://download.pytorch.org/whl/cu121 # change according to cuda version
torch
torchtext
torchvision